body {
    background-color: #f0f0f0;
}
.main-nav {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.main-nav .container {
    width: 100%;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-top {
    display: block;
    overflow: hidden;
    padding-top: 100px;
}
@-webkit-keyframes header { 0% { -moz-transform: translate3d(0,-1em,0); -webkit-transform: translate3d(0,-1em,0); -o-transform: translate3d(0,-1em,0); -ms-transform: translate3d(0,-1em,0); transform: translate3d(0,-1em,0); opacity: 0; } 100% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 0.8; } }
#header .navbar-right {
    -webkit-animation: header 1s 1s forwards;
    opacity: 0;
    cursor: default;
    padding: 0 80px 0 0;
    background-color:#897364;
}
#header .navbar-right li a {
    font-size: 22px;
    padding: 35px 20px;
    color: #fff;
}
#header .navbar-right li a:hover, #header .navbar-right li a:focus, #header .navbar-right .active a {
    background-color: #fff;
    color: #897364;
}
#bg-slider .carousel-caption {
    background: none repeat scroll 0 0 #fff;
    bottom: 20%;
    opacity:0.7;
    float: left;
    left: 0;
    padding: 10px 60px 35px;
    right: inherit;
    color: #333;
    text-align: center;
}
#bg-slider .carousel-caption .btn {
    border-radius: 5px;
    border: none;
    margin: 20px 15px 0px 15px;
    font-size: 20px;
    padding: 10px 20px;
}
#bg-slider .carousel-caption .btn1 {
    background-color: #897364;
    color: #DDD;
}
#bg-slider .carousel-caption .btn1:hover {
    background-color: #A99384;
    color: #FFF;
}
#bg-slider .carousel-caption .btn2 {
    box-shadow: inset 0 0 0 2px #897364;
    color: #897364;
}
#bg-slider .carousel-caption .btn2:hover {
    box-shadow: inset 0 0 0 2px #594334;
    color: #594334;
}
#footer {
    background: #333;
    color: #A0A0A0;
    padding: 6px 0 0;
    border-top: 4px solid #897364;
    /*margin-top: 20px;*/
    -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
    box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
}
/*--------------------------------------------------------------------------
 +	scroll to top
 --------------------------------------------------------------------------*/
#scrollToTop {
    position: fixed;
    display: block;
    z-index: 20;
    right: 4%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    font-size:10px;
    opacity: 0.5;
    background-color: #DDD;
}
#scrollToTop:before, #scrollToTop:after {
    content:"";
    position:absolute;
    left:0;
    background:transparent;
    font-size:1em;
}
#scrollToTop:before {
    left:20%;top:40%;
    width:40%;height:12%;
    background:#666;
    transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);
}
#scrollToTop:after {
    left:40%;top:40%;
    width:40%;height:12%;
    background:#666;
    transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);
}
#scrollToTop:hover:before {
    background:#333;
}
#scrollToTop:hover:after {
    background:#333;
}
/*--------------------------------------------------------------------------
 +	index.html
 --------------------------------------------------------------------------*/
#survey {
    position: relative;
    background-color: #BD403E;
}
#survey-bg {
    padding: 200px 0 200px;
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-position: 0px -100px;
    background-size: 100% 160%;
}
#survey-header {
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 10%;
    left: 21%;
    color: #EEE;
}
#survey-content {
    position: absolute;
    top: 14%;
    left: 40%;
    color: #EEE;
}
#survey-content .btn-primary {
    background-color: #EEE;
    color: #BD403E;
    border: none;
    margin-top: 20px;
    border-radius: 0;
    font-size: 20px;
    padding: 10px 20px;
    opacity: 0.8;
    margin-left: 260px;
}
#survey-content .btn-primary:hover {
    background-color: #E6E6E6;
    opacity: 0.9;
}
#shape {
    position: relative;
    background-color: #D5CFC4;
    padding: 200px 0 200px;
}
#shape-pic {
    position: absolute;
    right: 0;
    top: 0;
}
#shape-header {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 10%;
    right: 50%;
    color: #333;
}
#shape-content {
    text-align: right;
    position: absolute;
    top: 30%;
    right: 50%;
    color: #333;
}
#shape-content .btn-primary {
    background-color: #444;
    color: #DDD;
    border: none;
    margin-top: 20px;
    border-radius: 0;
    font-size: 20px;
    padding: 10px 20px;
}
#shape-content .btn-primary:hover {
    background-color: #333;
    color: #D5CFC4;
}
#decoration {
    background-color: #806854;
    position: relative;
}
#decoration-bg {
    padding: 200px 0 200px;
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-position: 0px -80px;
    background-size: 100% 120%;
    opacity: 0.4;
}
#decoration-header {
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 10%;
    left: 21%;
    color: #EEE;
}
#decoration-content {
    position: absolute;
    top: 14%;
    left: 40%;
    color: #EEE;
}
#decoration-content .btn-primary {
    background-color: #EEE;
    color: #755C49;
    border: none;
    margin-top: 20px;
    border-radius: 0;
    font-size: 20px;
    padding: 10px 20px;
    opacity: 0.8;
    margin-left: 260px;
}
#decoration-content .btn-primary:hover {
    background-color: #E6E6E6;
    opacity: 0.9;
}
/*--------------------------------------------------------------------------
 +	company_index.html
 --------------------------------------------------------------------------*/
.section {
    padding: 10px 0 50px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.service-wrapper {
    background: #FFF;
    color: #53555c;
    margin: 10px 10px;
    padding: 20px 20px 50px;
    text-align: center;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #999;
    -moz-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    color: 0 0 3px #999;
    position: relative;
}
.service-wrapper img {
    padding-left: 55px;
}
.in-press a {
    color: #a0a7ac;
    line-height: 25px;
    position: relative;
    padding: 10px 0px 30px 16px;
    display: block;
    font-size: 15px;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -o-transition: color .25s linear;
    -ms-transition: color .25s linear;
    transition: color .25s linear;
}
.in-press a:hover {
    color: #60676c;
    text-decoration: none;
}
.in-press a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 30%;
    width: 120px;
    height: 32px;
    background-image: url(../img/in-press.png);
    background-repeat: no-repeat;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    -ms-transition: .25s linear;
    transition: .25s linear;
}
.in-press a:before {
    content: "";
    margin-left: -16px;
}
.btn-start a:after {
    background-position: 0px 0px;
}
.btn-start a:hover:after {
    background-position: 0px -32px;
}
/*--------------------------------------------------------------------------
 +	manage_survey.html
 --------------------------------------------------------------------------*/
#header-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10000;
}
#header-fixed .navbar-inner {
    position: relative;
    min-height: 50px;
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}
#header-fixed .nav-header {
    position: relative;
    float: left;
    height: 50px;
}
#header-fixed h1 {
    position: relative;
    float: left;
    padding: 0 0 0 80px;
    margin-top: 10px;
    color: #897364;
    font-size: 24px;
}
#header-fixed h2{
    position: relative;
    float: left;
    padding: 0 30px 0 0;
    margin-top: 13px;
    color: #594334;
    font-size: 20px;
}
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-nav {
    margin: 0;
}
.nav>li>a,
.nav>li>span {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
#header-fixed .nav-left {
    position: relative;
    left: 30px;
}
#header-fixed .nav-right {
    position: relative;
    float: right!important;
    padding-right: 30px;
}
#header-fixed .navbar-nav > li > a,
#header-fixed .navbar-nav > li > span {
    padding: 15px 25px;
    font-size: 16px;
    color: #333;
    font-size: 16px;
    transition: color 218ms ease;
    -webkit-transition: color 218ms ease;
}
#header-fixed .navbar-nav > li.active > a,
#header-fixed .navbar-nav > li.active:focus > a,
#header-fixed .navbar-nav > li.active:hover > a,
#header-fixed .navbar-nav > li:hover > a,
#header-fixed .navbar-nav > li:focus > a,
#header-fixed .navbar-nav > li.active > a:focus,
#header-fixed .navbar-nav > li.active:focus > a:focus,
#header-fixed .navbar-nav > li.active:hover > a:focus,
#header-fixed .navbar-nav > li:hover > a:focus,
#header-fixed .navbar-nav > li:focus > a:focus,
#header-fixed .navbar-nav > li.active > span,
#header-fixed .navbar-nav > li.active:focus > span,
#header-fixed .navbar-nav > li.active:hover > span,
#header-fixed .navbar-nav > li:hover > span,
#header-fixed .navbar-nav > li:focus > span,
#header-fixed .navbar-nav > li.active > span:focus,
#header-fixed .navbar-nav > li.active:focus > span:focus,
#header-fixed .navbar-nav > li.active:hover > span:focus,
#header-fixed .navbar-nav > li:hover > span:focus,
#header-fixed .navbar-nav > li:focus > span:focus{
    color: #897364;
    background-color: #fff;
}
#survey-list {
    margin-top: 60px;
}

.survey-items,
.survey-filter {
    list-style: none;
    padding: 0;
    margin: 0;
}
.survey-items {
    margin-right: -20px;
}
.survey-filter {
    margin-bottom: 50px;
    text-align: center;
}
.survey-filter > li {
    display: inline-block;
}
.survey-items > li {
    float: left;
    padding: 0;
    margin: 0;
}
.survey-items.col-2 > li {
    width: 50%;
}
.survey-items.col-3 > li {
    width: 33%;
}
.survey-items.col-4 > li {
    width: 25%;
}
.survey-items.col-5 > li {
    width: 20%;
}
.survey-items.col-6 > li {
    width: 16%;
}
.survey-item .item-inner {
    margin: 0 20px 20px 0;
    text-align: center;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.survey-item .survey-image {
    position: relative;
}
.survey-item h5 {
    margin: 0;
    padding: 10px 0 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.survey-item .overlay {
    color: #333;
    text-align: center;
    vertical-align: middle;
}
.survey-item .overlay:hover{
    color: #897364;
    text-decoration: none;
}


/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
/*--------------------------------------------------------------------------
 +	survey_design.html
 --------------------------------------------------------------------------*/
#survey-helper {
    position: fixed;
    right: 100px;
    left: 100px;
    bottom: 0;
    height: 80px;
    z-index: 10000;
}
#survey-helper .nav-header {
    position: relative;
    float: left;
    height: 80px;
}
#survey-helper .nav-header h5 {
    position: relative;
    float: left;
    padding: 18px 40px 18px 80px;
    color: #594334;
    font-size: 20px;
}
#survey-helper .navbar-inner {
    position: relative;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1 3px 3 rgba(0,0,0,0.5);
    border-radius: 5px 5px 0 0;
}
#survey-helper .navbar-nav > li > a {
    padding: 30px 40px;
    font-size: 16px;
    color: #333;
    font-size: 18px;
    transition: color 218ms ease;
    -webkit-transition: color 218ms ease;
}
#survey-helper .navbar-nav > li.active > a,
#survey-helper .navbar-nav > li.active:focus > a,
#survey-helper .navbar-nav > li.active:hover > a,
#survey-helper .navbar-nav > li:hover > a,
#survey-helper .navbar-nav > li:focus > a,
#survey-helper .navbar-nav > li.active > a:focus,
#survey-helper .navbar-nav > li.active:focus > a:focus,
#survey-helper .navbar-nav > li.active:hover > a:focus,
#survey-helper .navbar-nav > li:hover > a:focus,
#survey-helper .navbar-nav > li:focus > a:focus {
    color: #897364;
    background-color: #fff;
    
}